# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/
ENV/

# VS Code
.vscode/

# PyCharm
.idea/

# Python cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db